.home-component {
    height: calc(100vh - 83.5px);
    background-color: #000;
    padding-top: 85.5px;
}

.home-container {
    display: flex;
    background-color: #484848;
    height: 90%;
    width: 95%;
    border-radius: 0 15px 15px 0;
}

.home-image {
    width: 30%;
    display: flex;
    margin-right: 25px;
}

.home-image img {
    width: 100%;
}

.home-logo {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-logo img {
    width: 50%;
    height: auto;
    animation: growImage 3s ease-in-out;
}

.button-schedule {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-schedule button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-schedule button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .home-logo {
        position: absolute;
    }

    .home-image {
        width: 100%;
        height: 100%;
    }

    .home-image img {
        height: 100%;
        width: 100%;
    }
}

@keyframes growImage {
    from {
        width: 15%;
    }
    to {
        width: 55%;
    }
}